* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    background-color:aliceblue
}

.header, .nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.nav {  
    width: 98vw;
    background-color: cornsilk;
    font-size: 2rem;
}

.nav-logo p {
    display: flex;
    justify-content: center ;
    border: 10px;
    padding: 20px;
}

.nav-elements {
    display: flex;
    justify-content: center;
    border: 10px;
    padding: 10px;
}

.list-item a{
    margin: 10px;
    text-decoration: none;
    color: black;
}

.nav-elements li {
    list-style: none;
    display: inline-block;
}

.whisky__cream__types {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
    width: 100;
    background-color: cadetblue;
}

.wct-item {
    background-color: cornflowerblue;
    border-radius: 7px;
    margin: 10px;
    height: 35vh;
    width: 40vw;
}

.main {
    background-color: rgba(0, 0, 0, 0.192);
    height: 100vh;
}

.content {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.192) ;
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
}